.background {
    text-align: center;
}

.image1 {
    height: 30vh;
}

.image2 {
    width: 35vw;
    height: 25vh;
    margin: 8px;
}

/* PAGE 1 */
.background1 {
    background-image: url("https://miro.medium.com/v2/1*gEC1mD0LHVkp2YJsSyT_fA.jpeg");
    background-size: cover;
    height: 98vh;
}

.container1 {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 5px;
}

.button1 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #d7dfe9;
}

.button11 {
    background-color: #ffffff;
    color: #171f46;
    margin-right: 30px;
}

.button21 {
    background-color: #5752ab;
    color: #ffffff;
    margin-left: 2px;
}

.headline1 {
    color: #5752ab;
    font-family: "Bree Serif";
}

.para1 {
    color: #323f4b;
    font-family: "Roboto";
}

/* DIWALI PAGE */
.diwali-top-section {
    background-image: url("https://m.economictimes.com/thumb/height-450,width-600,imgsize-94864,msid-124607548/when-is-diwali-2025-what-are-the-5-days-meaning.jpg");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 320px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
    height: 185px;
}

.diwali-card-image {
    height: 120px;
    width: 140px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

/* PAGE 3 */
.background3 {
    background-image: url("https://png.pngtree.com/png-vector/20241030/ourmid/pngtree-bowl-of-delicious-white-sauce-pasta-png-image_14151270.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.card3 {
    background-color: #f6c56e;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.button3 {
    color: #323f4b;
    border-width: 0;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    font-size: 12px;
}

.para-text3 {
    font-family: Roboto;
    font-weight: bold;
}

.heading-text3 {
    font-family: "Bree Serif";
    font-weight: bold;
    font-size: 30px;
}

/* PAGE 4 */
.background4 {
    background-image: url("http://cdn.britannica.com/25/93825-050-D1300547/collection-newspapers.jpg");
    background-size: cover;
    height: 100vh;
}

.card4 {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.heading4 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 13px;
}

.para4 {
    color: #7b8794;
    font-family: "Roboto";
}

.para14 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}

.button4 {
    color: #ffffff;
    background-color: #323f4b;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-family: "Roboto";
}