@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.movie-background {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    background-size: cover;
    padding: 50px;
}

.head1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    width: 320px;
}

.button {
    border-radius: 10px;
    padding: 10px 15px;
    color: #FFA500;
    background-color: #FFFFFF;
    font-size: 12px;
    border: none;
    font-family: "Roboto", sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: #FFE5B4;
}

.movie-img {
    height: 220px;
    width: 220px;
    border-radius: 36px;
}

.para {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
}

.description {
    margin: 15px 0;
}
.corousel-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}