@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300;400;700&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.favorite-store-background {
    background-color: #894bca;
    padding-bottom: 40px;
    padding-top: 20px;
}

.header-section {
    padding: 20px;
}

.store-heading {
    color: #ffffff;
    font-size: 36px;
    font-family: "Bree Serif";
    line-height: 1.3;
}

.store-img {
    height: 300px;
    width: 320px
}

.store-container {
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 30px;
    margin-top: 20px;
}

.container-heading {
    color: #f780c3;
    font-size: 26px;
    font-weight: 700;
}

.store-card {
    background: #f8f8f8;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.store-card:hover {
    background: #ffe6f6;
    transform: scale(1.02);
}

.stores-logos-image {
    height: 55px;
    width: 55px;
    margin-right: 15px;
}

.store-logo-heading {
    font-size: 20px;
    font-weight: bold;
    color: #323f4b;
}

.store-logo-para {
    font-size: 14px;
    color: #6c757d;
}
