@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.heading {
    font-family: "Roboto";
    font-size: 20px;
    color: #000000;
}

.para {
    font-family: "Roboto";
    color: #9aa5b1;
    font-weight: 500;
    font-size: 13px;
}

.courosel-image{
    width: 100%;
    height: 400px;
}

.video {
    height: 210px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.image{
    height: 200px;
    width: 250px;
    border-radius: 23px;
}
.video-size{
    height: 250px;
    width: 310px;
}
.videos-container{
    height: 230px;
}