@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.card {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 100vh;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    margin: 10px 20px;
}

.todo-background{
    text-align: center;
    width: 85%;
}

.button {
    font-size: 18px;
    height: 40px;
    width: 120px;
    font-weight: bold;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

.underline {
    font-family: "Roboto";
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 5px;
}
